# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Solution & Projects files
*.sln
*.vcxproj
*.db
*.suo
*.db
*.filters
*.tlog
*.pdb
*.idb
*.opendb
*.ilk
*.log

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

